mtanksl.OpenTibia.GameData/data/items/Definition/items.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="items">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="item" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence minOccurs="0">
              <xs:element name="attribute" maxOccurs="unbounded">
                <xs:complexType>                 
                  <xs:attribute name="key" type="AttributeKey" use="required" />
                  <xs:attribute name="value" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="id" type="xs:unsignedShort" use="required" />
            <xs:attribute name="article" type="xs:string" use="optional" />
            <xs:attribute name="name" type="xs:string" use="optional" />
            <xs:attribute name="plural" type="xs:string" use="optional" />
            <xs:attribute name="editorsuffix" type="xs:string" use="optional" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="AttributeKey">
    <xs:restriction base="xs:string">
      <xs:enumeration value="article"/>
      <xs:enumeration value="name"/>
      <xs:enumeration value="plural"/>
      <xs:enumeration value="description"/>
      <xs:enumeration value="runespellname"/>
      <xs:enumeration value="weight"/>
      <xs:enumeration value="armor"/>
      <xs:enumeration value="defense"/>
      <xs:enumeration value="extradef"/>
      <xs:enumeration value="attack"/>
      <xs:enumeration value="blockprojectile"/>
      <xs:enumeration value="floorchange"/>
      <xs:enumeration value="corpsetype"/>
      <xs:enumeration value="containersize"/>
      <xs:enumeration value="weapontype"/>
      <xs:enumeration value="ammotype"/>
      <xs:enumeration value="shoottype"/>
      <xs:enumeration value="effect"/>
      <xs:enumeration value="range"/>
      <xs:enumeration value="charges"/>
      <xs:enumeration value="slottype"/>
      <xs:enumeration value="breakchance"/>
      <xs:enumeration value="ammoaction"/>
      <xs:enumeration value="hitchance"/>
      <xs:enumeration value="maxhitchance"/>
      <xs:enumeration value="readable"/>
      <xs:enumeration value="writeable"/>
      <xs:enumeration value="absorbpercentallelements"/>
      <xs:enumeration value="absorbpercentphysical"/>
      <xs:enumeration value="absorbpercentearth"/>
      <xs:enumeration value="absorbpercentfire"/>
      <xs:enumeration value="absorbpercentenergy"/>
      <xs:enumeration value="absorbpercentice"/>
      <xs:enumeration value="absorbpercentdeath"/>
      <xs:enumeration value="absorbpercentholy"/>
      <xs:enumeration value="absorbpercentmanadrain"/>
      <xs:enumeration value="absorbpercentlifedrain"/>

      <!-- unused -->
      <xs:enumeration value="allowpickupable"/>
      <xs:enumeration value="corpsetype"/>
      <xs:enumeration value="currency"/>
      <xs:enumeration value="decayto"/>
      <xs:enumeration value="duration"/>
      <xs:enumeration value="elementearth"/>
      <xs:enumeration value="elementenergy"/>
      <xs:enumeration value="elementfire"/>
      <xs:enumeration value="elementice"/>
      <xs:enumeration value="femalesleeper"/>
      <xs:enumeration value="field"/>
      <xs:enumeration value="fluidsource"/>
      <xs:enumeration value="fluidsource"/>
      <xs:enumeration value="healthgain"/>
      <xs:enumeration value="healthticks"/>
      <xs:enumeration value="invisible"/>
      <xs:enumeration value="magicpoints"/>
      <xs:enumeration value="malesleeper"/>
      <xs:enumeration value="managain"/>
      <xs:enumeration value="manaticks"/>
      <xs:enumeration value="manashield"/>
      <xs:enumeration value="maxtextlen"/>
      <xs:enumeration value="partnerdirection"/>
      <xs:enumeration value="preventitemloss"/>
      <xs:enumeration value="replaceable"/>
      <xs:enumeration value="rotateto"/>
      <xs:enumeration value="showcharges"/>
      <xs:enumeration value="showcount"/>
      <xs:enumeration value="showduration"/>
      <xs:enumeration value="skillaxe"/>
      <xs:enumeration value="skillclub"/>
      <xs:enumeration value="skilldist"/>
      <xs:enumeration value="skillfist"/>
      <xs:enumeration value="skillshield"/>
      <xs:enumeration value="skillsword"/>
      <xs:enumeration value="speed"/>
      <xs:enumeration value="stopduration"/>
      <xs:enumeration value="suppressdrown"/>
      <xs:enumeration value="suppressdrunk"/>
      <xs:enumeration value="suppresspoison"/>
      <xs:enumeration value="transformdeequipto"/>
      <xs:enumeration value="transformequipto"/>
      <xs:enumeration value="type"/>
      <xs:enumeration value="writeonceitemid"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>